<% provide(:title, "Sign In") %>

<div class="container">

    <%= form_tag sessions_path, role: "form", class: "form-signin", id: "signin-form", role: "form" do %>

    <h2 class="form-signin-heading">Log In</h2>

    <div class="form-group">
      <label class="control-label" for="email">Email Address</label>
      <%= email_field_tag :email, params[:email],:label => "EMAIL" ,:placeholder => "Email", :class => "form-control", :id => "email" %>
    </div>

    <div class="form-group">
    <label class="control-label" for="password">Password</label>
      <%= password_field_tag :password, params[:password], :placeholder => "Password", :class => "form-control", :id => "password" %>
      <%= submit_tag "Log in", class: "btn btn-lg btn-primary btn-block" %>
    </div>

    <p></p>
    <p>
      <div class="checkbox">
        <label>Remember me</label>
      <%= check_box_tag :remember_me, params[:remember_me], :checked => true   %>
      </div>
      <p>Forgotten password? <%= link_to "click here to reset it!", "#" %></p>
      <% end %>
    </p>

</div> <!-- /container -->